@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rojos: rgb(242, 27, 41);
}

/*----------------------------------------
1. TIPOGRAFIA DEL SITIO
-----------------------------------------*/
html {
  font-size: 13px;
}

body {
  font-family: 'Lato', sans-serif;
}

/*-----------------------------------------
2. ESTILOS GENERALES DE BOTONES
-------------------------------------------*/
#inicio {
  background: url("../images/fondoBienvenidos.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#inicio:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

#inicio .logo {
  z-index: 100;
  width: 150px;
  height: auto;
}

#inicio .encabezado {
  /*background: #111111;*/
  z-index: 100;
  color: #fff;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.encabezado.fondo-menu {
  background: #064e4e;
  padding: 1rem 0;
}

/* .encabezado .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} */




.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff;
}

.boton-menu:focus {
  outline: 0;
}

#menu-principal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #12AFAF;
}

#inicio .texto-encabezado {
  z-index: 100;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.texto-encabezado .display-4 {
  margin-top: 4rem;
}

.texto-encabezado .btn-primary {
  margin-top: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #12AFAF;
  border-color: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
  animation: flecha-animada 2s ease-in-out infinite;
}

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*-------------------------------
SECCION SERVICIOS
--------------------------------*/
.servicios {
  background: url("../images/fondo-servicios.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed !important;
  color: #fff;
}

.servicios article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
}

.clientes a img{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clientes img {
  width: 150px;
}


/*-------------------------------
SLIDER DE CLIENTES
--------------------------------*/
/* Dots */
.slick-dots {
  width: 100%;
  height: 30%;
  /* color of container */
}

.slick-active button::before {
  color: blue;
  opacity: 1;
}

.slick-dots li button::before {
  color: red;
  /* color of dots */
  opacity: .5;
  /* opacity of dots */
  background-color: transparent;
  font-size: 37px;
}

/* Arrows */
.slick-prev,
.slick-next {
  z-index: 100;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #14b9d5;
  border-radius: 20px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: red;
}